.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

html, body {
  overflow-x: hidden;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(100%); /* Start from right outside of the viewport */
  }
  50% {
    transform: translateX(-10%); /* Slide to the left */
  }
  100% {
    transform: translateX(100%); /* Slide back to the right */
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(0); /* Start from left outside of the viewport */
  }
  50% {
    transform: translateX(10%); /* Slide to the right */
  }
  100% {
    transform: translateX(-350%); /* Slide back to the left */
  }
}


